{erl_opts, [warn_unused_import, warn_export_vars, verbose, report, debug_info]}.

{minimum_otp_vsn, "25"}.

{deps, []}.

{project_plugins, [
    {erlfmt, "~> 1.3"},
    rebar3_hank,
    rebar3_lint
]}.

{validate_app_modules, true}.

{profiles, [
    {test, [
        {deps, [
            {doctest, "~> 0.13"}
        ]}
    ]}
]}.

{eunit_opts, [no_tty, {report, {doctest_eunit_report, []}}]}.

{hank, [
    {ignore, [
        "include/**/*.hrl",
        "certification/**/*",
        "deps/**/*"
    ]}
]}.

{erlfmt, [write]}.

{shell, [{apps, [purl]}]}.
